header {
    position: sticky;
    top: 0%;
    z-index: 999
}

.topnav {
    overflow: hidden;
    background-color: #000;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #00aeae;
    color: #000;
}

.topnav a.active {
    color: white;
}

header .right-element {
    float: right;
}