.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: darkcyan;
    color: black;
}

.topnav a.active {
    color: white;
}

header a:last-child {
    float: right;
}