<button *ngIf="userRole == 'ADMIN'" class="primary-button" mat-raised-button (click)="addButtonClick()">Add Product</button>
<div class="product-list">
  <li *ngFor="let item of productList" class="card">
    <img src={{item.thumbnail}} style="width: 100%" />
    <h3>{{item.title}}</h3>
    <p class="price">${{item.price}}</p>
    <span>{{item.description}}</span>
    <p class="cart-button"><button (click)="buttonClick(item.id)">{{buttonText}}</button></p>
    <span *ngIf="userRole == 'ADMIN'" class="close fa fa-trash" (click)="closeClick(item.id)"></span>
  </li>
</div>
